.container {          
  display: flex;             
  flex-direction: column;     
  align-items: center;       
  gap: 16px;                 
}

#name-input {
  width: 360px;
  padding: 8px 140px 8px 16px;
  height: 40px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  color: #2e2f42;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #2e2f42;
}
