.widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    margin: 0 auto;
    text-align: center;

    p {
        color: #2e2f42;
        line-height: 24px;
        letter-spacing: 0.04px;
        width: 169px;
    }
}

.button{
    background-color: #4e75ff;
    color: #ffff ;
    width: 148px;
    height: 40px;
    border-radius: 8px;
    &:hover { background-color: #6C8CFF;
}
}